@using _420_5W6_VL_Projet.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<Link>
    <div class="home">
        <partial name="_Header" />
        <section class="links">
            <div class="grid">
                @foreach (Link link in Model)
                {
                    <partial name="_LinkCard" model=@link />
                }
            </div>
        </section>
    </div>
}
