@using _420_5W6_VL_Projet.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<Link>
    <div class="my_links">
        <header class="header">
            <a class="header_button" asp-controller="Link" asp-action="MyLinks" asp-route-uid=@ViewBag.Uid>My Links</a>
            <a class="header_button" asp-controller="Link" asp-action="PostLink" asp-route-uid=@ViewBag.Uid>Post Link</a>
            <a asp-controller="Home" asp-action="Home" asp-route-uid=@ViewBag.Uid><img class="header_logo" src="~/assets/imgs/reedit.png" alt="reedit logo" /></a>
            <input class="search_bar" placeholder="Search..." />
            <a class="header_button" asp-controller="Account" asp-action="Signout">Sign Out</a>
        </header>
        <section class="links">
            <div class="grid">
                @foreach (Link link in Model)
                {
                    <span class="link">
                        <a class="link_a" asp-controller="Link" asp-action="ALink" asp-route-uid=@ViewBag.Uid asp-route-lid=@link.Lid>
                            <span class="infos">
                                <span class="time">
                                    @link.Date
                                </span>
                                <span class="description">
                                    @link.Description
                                </span>
                            </span>
                            <span class="media">
                                @if(ViewBag.LDAO.IsImage(link.Url)) {
                                    <img src=@link.Url />
                                } else {
                                    <video src="@link.Url" controls/>
                                }
                            </span>
                        </a>
                        <span class="trash_container">
                            <a class="trash" asp-controller="Link" asp-action="Delete" asp-route-uid=@ViewBag.Uid asp-route-lid=@link.Lid>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0080FF" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </span>
                    </span>
                }
            </div>
        </section>
    </div>
}
