@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="center_container">
        <partial name="_Header" />
        <form class="post_form" asp-controller="Link" asp-action="Post" method="post">
            <input type="hidden" name="uid" value=@ViewBag.Uid />
            <label class="post_label">Url</label>
            <input id="url_input" type="url" class="post_input" name="url" required/>
            <label class="post_label">Description</label>
            <textarea id="desc_input" type="text" class="post_input" name="desc" required></textarea>
            <button type="submit" class="post_button">POST</button>
        </form>
    </div>
}
